.header {

}

.button {
  display: inline-block;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 20px;
  padding: 5px 12px;
  cursor: pointer;
  color: rgb(119, 119, 119);
  border: solid 1px #008CBA;
}

.label {
  display: inline-block;
  color: rgb(119, 119, 119);
  font-size: 18px;
  padding: 20px;
}